<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>The Developmental Electrophysiology Laboratory at the Yale Child Study Center</title>
<meta name="description" content="Information about the Developmental Electrophysiology Laboratory of the YALE Child study center" />
<meta name="keywords" content="YALE, Child study center, Developmental Electrophysiology Laboratory, DEL, Mayes Lab, Neuroscience, ERP, EEG, Behavioral, IQ" />
<link href="/labs/del/css/del.css" rel="stylesheet" type="text/css" />
<link href="/labs/del/css/del_layout.css" rel="stylesheet" type="text/css" />
<link href="/labs/del/css/del_content_2co.css" rel="stylesheet" type="text/css" />
<link href="/labs/del/css/del_table.css" rel="stylesheet" type="text/css" />
<link href="/labs/del/css/del_person.css" rel="stylesheet" type="text/css" />
<link href="/labs/del/css/del_publications.css" rel="stylesheet" type="text/css" />
<link href="/labs/del/css/del_elements.css" rel="stylesheet" type="text/css" />
<link href="/labs/del/css/dropdownmenu.css" rel="stylesheet" type="text/css" />
<script src="/labs/del/javascripts/jquery-1.4.2.js" type="text/javascript"></script>
<script src="/labs/del/javascripts/del.js" type="text/javascript"></script>
<script src="/labs/del/javascripts/dropdownmenu.js" type="text/javascript"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8655227-2']);
  _gaq.push(['_setDomainName', '.yale.edu']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</head>

<body>
  <div id="overall">
	  <div id="header"></div>
	  <div id="menubar">
	    <ul id="dropdownmenu">
        <li><a  class="dropdown" href="#">About DEL</a>
          <ul>
            <li><a href="/labs/del/index.html">Home</a></li>
            <li><a href="/labs/del/about.html">About</a></li>
          </ul>
        </li>
        <li><a  class="dropdown" href="#">Resources</a>
          <ul>
            <li><a href="/labs/del/training.html">Training &amp; Employment</a></li>
            <li><a href="/labs/del/kidscorner.html">Kids Corner</a></li>
          </ul>
        </li>
        <li><a class="dropdown" href="#">Research</a>
          <ul>
            <li><a href="/labs/del/studies.html">Studies</a></li>
            <li><a href="/labs/del/tasks.html">Tasks</a></li>
            <li><a href="/labs/del/equipment.html">Equipment</a></li>
            <li><a href="/labs/del/grants.html">Grant Information</a></li>
            <li><a href="/labs/del/publications.html">Publications</a></li>
            <li><a href="/labs/del/collaborations.html">Collaborations</a></li>
          </ul>
        </li>
        <li><a href="/labs/del/people.html">People</a></li>
        <li><a  class="dropdown" href="#">Contact</a>
          <ul>
            <li><a href="/labs/del/contact.html">Contact Info</a></li>
            <li><a href="/labs/del/gettinghere.html">Directions</a></li>
          </ul>
        </li>
        <li><a class="last" href="/labs/del/member_only/calendar.html">Calendar</a>
        </li>
      </ul>
    <div class="clear"></div>
    </div><!--end of div menubar-->
<%= yield %>
  </div><!--end of div body-->

</body>
</html>
