@charset "UTF-8";
/* CSS Document */
body {
    width: 1024px;
    margin: 0 auto;
}
p{
	font:"Times New Roman", Times, serif;
	font-size:13px;
	color:#000000;
	line-height:17px;
	padding-left: 10px;
	padding-right: 10px;
}
.navigation{
	font-family:Century Gothic;
	font-size: 16px;
	font-style:inherit;
	color: #FFFFFF;
	word-spacing: 5px;
	font-family:Century Gothic;
}
.navigation2{
	font-family:Century Gothic;
	font-size: 14px;
	font-style:inherit;
	color: #FFFFFF;
	font-family:Century Gothic;
	padding: 14px;
}
.navigation3{
	font:"Times New Roman", Times, serif;
	font-size: 15px;
	font-style:inherit;
	color:#666666;
	padding: 0px;
}
.navigation4{
	font-family:Century Gothic;
	font-size: 25px;
	font-style:inherit;
	color: #FFFFFF;
	word-spacing: 5px;
	font-family:Century Gothic;
}
.h2 {
	font-size: 18px;
	font-style:normal;
	color: #00000;
	font-family:"Times New Roman", Times, serif;
	padding-left: 8px;
}
.h3 {
	font:"Times New Roman", Times, serif;
	font-size: 15px;
	font-style:normal;
	color: #666666;
	padding-left: 13px;
}
.p2 {
	font:"Times New Roman", Times, serif;
	font-size: 15px;
	font-style:normal;
	color: #666666;
	padding-left: 10px;
}
.p3 {
	font:"Times New Roman", Times, serif;
	font-size: 15px;
	font-style:normal;
	color: #666666;
	padding-left: 144px;
}
.p4 {
	font:"Times New Roman", Times, serif;
	font-size: 15px;
	font-style:normal;
	color: #666666;
	padding-left: 109px;
}
.p5 {
	font:"Times New Roman", Times, serif;
	font-size: 13px;
	font-style:normal;
	color: #00000;
	padding-left: 20px;
}
.p6 {
	font:"Times New Roman", Times, serif;
	font-size: 13px;
	font-style:normal;
	color: #00000;
	padding-left: 50px;
}