<div id="content">
  <div id="title"><h1>DEL Minute</h1></div>
<div id="DEL_minute">
 	    <ul>       
        <li><a href = "Post Experiment Checklist.4-13-10.doc" target="_blank"><u>Download Post Experiment Checklist in word format</u></a></li>
        
        <li><a href = "DEL_minute_03_09_2010.doc" target="_blank"><u>Download 03/09/2010 DEL minute in word format</u></a></li>
  
  <li><a href = "DEL_minute_03_09_2010.pdf" target="_blank"><u>Download 03/09/2010 DEL minute</u></a></li>
  
  <li><a href = "DEL_minute_02_23_2010.pdf" target="_blank"><u>Download 02/23/2010 DEL minute</u></a></li>
  
  <li><a href = "DEL_minute_01_19_2010.pdf" target="_blank"><u>Download 01/19/2010 DEL minute</u></a></li>
  
  <li>Download 01/05/2010 DEL minute</li>
    
  <li>Download 12/22/2009 DEL minute</li>
  
  <li><a href = "DEL_minute_12_15_2009.pdf" target="_blank"><u>Download 12/15/2009 DEL minute</u></a></li>
  
  <li><a href = "DEL_minute_12_01_2009.pdf" target="_blank"><u>Download 12/01/2009 DEL minute</u></a></li>

      </ul>
    <div id="logout">
      <a href="https://secure.its.yale.edu/cas/logout">Log Out</a></div>

</div>
</div>
