<div id="content">

<div id="title"><h1>About DEL</h1></div>
  
<div id="content_image">
  <img src="images/placement2.jpg" alt="Geodesic Sensor Net Placement" />
  <br /><br />
  <img src="images/gps1.jpg" alt="Geodesic Photogrammetry System"  />
</div> <!--end div content_image-->

<div id="content_text">  
  <p>Welcome to the Developmental Electrophysiology Laboratory (DEL), a core research resource in the Yale Child Study Center and the Yale School of Medicine.</p>  
  <p>The collaborative group of DEL investigators are engaged in neuroscience research with infants, school-aged children, adolescents, and young through elderly adults.  
    The themes of our research include reward processing, social cognition, emotion regulation, and cognitive change in both normative development and clinical populations.</p> 
  <p>The DEL provides facilities and support for dense array electroencephalography using three 128 or 256 channel systems.  
    Also available is integrated eye tracking to allow precise localization of visual attention during individual trials and photogrammetry to permit more precise source localization of electrical signals and integration with structural and functional MRI.  
    Additionally, the DEL provides resources for studying peripheral physiology including acoustic startle, electrocardiogram, and skin conductance that may be recorded simultaneously with EEG.</p> 
  <p>The DEL serves as a nexus of interdepartmental collaboration and opportunities for faculty and students at all levels. These include studies with four research groups in the <a href="http://childstudycenter.yale.edu">Child Study Center</a> (CSC) as well as investigators from the departments of diagnostic radiology, surgery, pediatrics, and psychiatry from the <a href="http://medicine.yale.edu">Yale School of Medicine</a> and from the <a href="http://www.haskins.yale.edu/">Haskins Laboratories</a>.</p>
 	<p>Overseen by <a href="lmayes.html">Dr. Mayes</a>, <a href="crowley.html">Crowley</a>, and <a href="mcpartland.html">McPartland</a>, the DEL is a developmental laboratory, designed for, and experienced with typical and atypical populations from infancy through later adulthood. The DEL is equipped to study brain electrical responses and peripheral psychophysiological indices of cognition, emotion and arousal.</p>
   	<p>At the core of this resource are two stationary <a href="equipment.html">high-density EEG systems</a>, located in adjacent suites at the CSC.  A third portable dense array system is available for off site studies.  <a href="equipment.html">Brain source analysis</a> and fMRI coregistration are accomplished by way of a <a href="equipment.html">photogrammetry</a> system that builds 3-dimensional head models for improved cortical source mapping.</p>
 	<p>Integrated with EEG assessment, the DEL has <a href="equipment.html">peripheral psychophysiological measurement</a> including heart rate, skin conductance, facial EMG and eye-blink startle by way of a Coulbourn Instruments LabLinc system.  A second identical Coulbourn system is used for analogous assessment at <a href="http://mri.med.yale.edu/index.htm">Yale’s Anlyan Neuroimaging Center</a>. </p>
 	<p>Complementing its comprehensive biosignal assessment capacity, the DEL has an armamentarium of <a href="tasks.html">experimental paradigms</a> (visual, auditory, contextual) for studying basic processes of learning, memory and emotion as well as more complex paradigms for the study of decision-making and social cognition.</p>
<p>The DEL has developed a range of paradigms in the E-Prime experimental design suite to administer visual, auditory, tactile and behavioral assessments.  
    In addition to E-Prime, our research staff possesses technical expertise in MATLAB, BESA, Netstation, and a variety of statistical analysis packages.</p>
</div><!-- end of div content_text-->

</div> <!-- end of div content-->

