<td width="505" align="left" valign="top" class="style2">
<p class="h2">Christopher A. Bailey</p>
<p class="h3">Research Assistant</p>
<p class="p5">Christopher graduated from the University at Buffalo in 2006 with a B.S. degree in Psychology with High Honors. Currently working as a Research Assistant in the lab, his main interest is in social neuroscience with the use of EEG. In his spare time, Christopher plays soccer and collects vinyl records. 
</p>
<br />
<p class="p5"><a href="people.html">BACK</a>
</td>
<td width="209" align="center" valign="top" class="style2"><br /><img src="images/bailey_bio.jpg" alt="Christopher A. Bailey" width="205" height="270" /></td>