<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/bailey_bio.jpg" alt="Christopher A. Bailey" />
</div>

<div id="person_text">
  <h2>Christopher A. Bailey</h2>
  <h3>Research Assistant</h3>
  
  <p>Christopher graduated from the University at Buffalo in 2006 with a B.S. degree in Psychology with High Honors. Currently working as a Research Assistant in the lab, his main interest is in social neuroscience with the use of EEG. In his spare time, Christopher plays soccer and collects vinyl records.</p>
  <p><a href="mailto:christopher.a.bailey@yale.edu">christopher.a.bailey@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div> <!--end div person-->
</div><!--end div content-->