<div id="content">
  <div id = "title"><h1>Brochures</h1></div>

<div id = "content_image">
  <ul>
    <li><img src="images/nicholas1.jpg" alt="Portable dense array EEG system" /></li>
  </ul>
</div>

<div id = "content_text">
  <div id="ul_bullet">
    <ul>
    <li><a href = "material/brochure_eeg.pdf">Brochure to explain brain activity</a></li>
    <li><a href = "material/brochure_kids.pdf">Brochure for kids</a></li>
  </ul>
</div>
</div><!--end div ul_bullet-->
</div><!--end div content_text-->