    <td width="505" align="left" valign="top" class="style2">
    <p class="h2">Celeste Cheung</p>
    <p class="h3">Master student</p>
    <p class="p5">Celeste is currently finishing her masters programme in Psychodynamic Developmental Neuroscience. This year she has been doing EEG research with Jamie (McPartland) looking at individual differences in personality and attachment and face processing of cartoon and human faces. Her main area of research interest is in Autism and she would like to continue being in education forever and ever.   
</p>
<br />
<p class="p5"><a href="people.html">BACK</a>
	</td>
    <td width="209" align="center" valign="top" class="style2"><br /><img src="images/cheung_bio.jpg" alt="Celeste Cheung" width="205" height="275" /></td>
