<div id="content">
<div id="person">

<div id="person_image">
<img src="images/cheung_bio.jpg" alt="Celeste Cheung" />
</div>

<div id="person_text">
  <h2>Celeste Cheung</h2>
  <h3>Master student</h3>
  <p>Celeste is currently finishing her masters programme in Psychodynamic Developmental Neuroscience. This year she has been doing EEG research with Jamie McPartland looking at individual differences in personality and attachment and face processing of cartoon and human faces. Her main area of research interest is in Autism and she would like to continue being in education forever and ever.</p>
  <p><a href="mailto:celeste.cheung@yale.edu">celeste.cheung@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>
	
</div><!--end div person-->
</div><!--end div content-->


