<div id="content">
<div id = "title"><h1>Collaborations</h1></div>

<div id = "content_image">
	<ul>
	  <li><img src="images/coulborn.jpg" alt="Coulborn Acoustic Startle System" /></li>
	</ul>
</div>

<div id="content_text">
  <h3 class="h3_first_line">Outside of Yale</h3>
    <p><span class="strong">Raphael Bernier, Ph.D.</span>, University of Washington.  This work examines connectivity within and between face perception and mirror neuron systems in individuals with autism and its relation to social behavior. This research also aims to develop novel methods to analyze EEG data at the level of neural systems. <a href = "http://faculty.washington.edu/rab2/Welcome.html" target = "_blank"> Website </a></p>
    <p><span class="strong">David Bridgett, Ph.D.</span>, Northern Illinois University. Collaborative studies focusing on the assessment, diagnosis, and treatment of children, particularly children between the ages of 6 months and 10 years. The research includes examination of trajectories of emotion regulation and regulatory aspects of temperament in school aged children at high risk for difficulties due to prenatal exposure to substances and living in impoverished conditions. Visit website: <a href="http://www.niu.edu/emotionreg/" target = "_blank">Emotion Regulation &amp; Temperament Laboratory</a></p>
  <p><span class="strong">Adele Diamond, Ph.D.</span>, University of British Columbia. Collaborative studies focusing on assessment of aspects of prefrontal cortical
functioning in high-risk preschool children. This line of work also
involves creating and evaluating new computer-based methods for
assessing aspects of prefrontal, executive capacities in younger
children.</p>
  <p><span class="strong">Dennis Molfese, Ph.D.</span>, University of Louisville.  Collaborative studies focusing on the use of evoked potentials to map regional neural activation during executive function tasks in preschool and school-aged children exposed to psychotropic drugs prenatally.  Visit website:  <a href="http://homepage.mac.com/dlmolfese/" target = "_blank">Developmental Neuroscience Laboratory</a></p>
  <p><span class="strong">Mary Target, Ph.D. and Peter Fonagy, Ph.D.</span>, University College London.  Studies of children's assessment of their attachment relationships to parents and other adults; applying to studies of high-risk families involved in substance abuse.</p>

  <h3>Yale but Outside Child Study Center</h3>
  <p><span class="strong">Neil Epperson, M.D.</span>, Department of Psychiatry.  1) Studies of the long-term development outcome of infants exposed pre- and postnatally to selective serotonin reuptake inhibitors; 2) Cognitive-behavioral interventions for pregnant women with anxiety disorders and severe trauma related symptoms.</p>
  <p><span class="strong">Julie Sosa, M.D. and Sanziana Roman, M.D.</span>, Department of Surgery.  Neurocognitive functioning in patients with primary parahypothyroidism pre- and post-surgery.</p>
  <p><span class="strong">Nancy Suchman, Ph.D.</span>, Department of Psychiatry. Psychosocial interventions for substance abusing women and their children.</p>
  <p>To inquire about using the laboratory for studies, please contact <a href="mailto:linda.mayes@yale.edu">Linda Mayes</a>.</p>
</div><!--end div content_text-->

</div> <!--end div content-->

