<td width="480" align="left" valign="top" class="style2">
<img src="images/collaborations.jpg" alt="Collaborations at the Yale Developmental Electrophysiology Laboratory" name="collaborations" width="200" height="25" hspace="8" vspace="8" id="collaborations" />
<p class="h2">Outside of Yale</p>
<p><strong>Adele Diamond, Ph.D.</strong>, University of British Columbia. Collaborative studies focusing on assessment of aspects of prefrontal cortical
functioning in high-risk preschool children. This line of work also
involves creating and evaluating new computer-based methods for
assessing aspects of prefrontal, executive capacities in younger
children.</p>
<p><strong>Dennis Molfese, Ph.D.</strong>, University of Louisville.  Collaborative studies focusing on the use of evoked potentials to map regional neural activation during executive function tasks in preschool and school-aged children exposed to psychotropic drugs prenatally.  Visit website:  <a href="http://homepage.mac.com/dlmolfese/" target = "_blank">Developmental Neuroscience Laboratory</a></p>
<p><strong>Mary Target, Ph.D. and Peter Fonagy, Ph.D.</strong>, University College London.  Studies of children's assessment of their attachment relationships to parents and other adults; applying to studies of high-risk families involved in substance abuse.</p>
<p><strong>Raphael Bernier, Ph.D.</strong>, University of Washington.  This work examines connectivity within and between face perception and mirror neuron systems in individuals with autism and its relation to social behavior. This research also aims to develop novel methods to analyze EEG data at the level of neural systems. <a href = "http://faculty.washington.edu/rab2/Welcome.html" target = "_blank"> Website </a></p>
<br />
<p class="h2">Yale but Outside Child Study Center</p>
<p><strong>Neil Epperson, M.D.</strong>, Department of Psychiatry.  1) Studies of the long-term development outcome of infants exposed pre- and postnatally to selective serotonin reuptake inhibitors; 2) Cognitive-behavioral interventions for pregnant women with anxiety disorders and severe trauma related symptoms.</p>
<p><strong>Julie Sosa, M.D. and Sanziana Roman, M.D.</strong>, Department of Surgery.  Neurocognitive functioning in patients with primary parahypoparathyroidism pre- and post-surgery.
<p><strong>Nancy Suchman, Ph.D.</strong>, Department of Psychiatry.  Psychosocial interventions for substance abusing women and their children.</p>


<p>To inquire about using the laboratory for studies, please contact <a href="mailto:linda.mayes@yale.edu">Linda Mayes</a>.</p></td>
<td width="175	" align="right" valign="top" class="style2"><p><br /><img src="images/coulborn.jpg" alt="Coulborn Acoustic Startle System" width="223" height="323" hspace=""/></p>
</td>