    <td width="595" align="left" valign="top" class="style2">
    <img src="images/contact.jpg" alt="" name="contact" width="231" height="40" id="contact" hspace="8" vspace="8"/>
	    

		<p>For general purpose, please email Linda Isakson at
		<a href="linda.isakson@yale.edu">linda.isakson@yale.edu</a><br />
		<p>Mailing Address:</p>
		<p>Linda Mayes's Lab, <br />Yale Child Study Center, <br />230 South Frontage Rd., <br />New Haven, CT, 06520<br />
		<p>Phone: 203-785-7205<br />
		Fax: 203-785-7926
		</address>
    <p>We look forward to hearing from you!</p>

<p>If you are interested in participating in the various EEG studies we are conducting with adults please contact <a href="mailto:christopher.a.bailey@yale.edu">Christopher Bailey</a> at 203-785-5821.  You may also contact Christopher if you are interested in enrolling your child in one of the various EEG studies we have involving school-aged children.</p>

</td>
    <td width="320" align="center" valign="top" class="style2"><p><br />
</td>