<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/cortney_bio.jpg" alt="Cortney Booth" />
</div>

<div id="person_text">
  <h2>Cortney Booth</h2>
  <h3>Postgraduate Research Associate</h3>
  
  <p>Cortney just recently graduated from Sewanee: The University of the South.  She received a Bachelors of Science in Biology with a minor in Political Science.  She is currently working directly with Dr. Helena Rutherford on maternal emotional regulation EEG studies.  Cortney hopes to eventually obtain her medical degree.  In her free time she enjoys tap dancing. </p>
    <p><a href="mailto:cortney.booth@yale.edu">cortney.booth@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->
