    <td width="505" align="left" valign="top" class="style2">
    <p class="h2">Michael Crowley, Ph.D.</p>
    <p class="h3">Associate Director, Developmental Electrophysiology Lab</p>
    <p class="p5">Michael Crowley earned his doctoral degree in Clinical Psychology from the University of Maryland, College Park in 2004, where he studied under Nathan Fox and Kevin O'Grady. He completed a child-focused clinical internship through the Brown University Clinical Psychology Training Consortium.  He completed a post-doctoral fellowship through the Yale Child Study Center Training Program in Neuropsychiatric Disorders under the mentorship of Linda Mayes, M.D. Dr. Crowley joined the faculty as an Associate Research Scientist in 2008. His research program focuses on affect regulation and reward processing across development with emphasis on child disruptive behavior disorders and child anxiety.  Dr. Crowley uses high-density EEG and the eye-blink startle response in his research.</p>
<br />
<p class="p5"><a href="people.html">BACK</a>
	</td>
    <td width="209" align="center" valign="top" class="style2"><br /><img src="images/crowley_bio.jpg" alt="Michael Crowley, Ph.D." width="205" height="275" /></td>