<td width="405" align="left" valign="top" class="style2">
<p class="h2">Emotion Regulation</p>
 <p class="p5">Contents go here.</p>
   <br />
<p align="left" class="p5"><a href="studies.html">BACK</a></p>   </td>
<td width="320" align="center" valign="top" class="style2"><p><br /><p><img src="images/jia_chris2.jpg" alt="Data Analysis at the DEL" width="305" height="211"/></p>
<p><img src="images/macbook.jpg" alt="Portable dense array EEG system" width="305" height="212" /></p>
</td>