<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/erbe_bio.jpg" alt="Jeff Erbe" />
</div>

<div id="person_text">
  <h2>Jeff Erbe</h2>
  <h3>Research Assistant</h3>
  
  <p>Jeff has a background in psychology and completed a Masters in Psychodynamic Developmental Neuroscience through University College London and Yale University. His current research examines the effects of substance abuse on parental processing of infant cues, using EEG and fMRI. He also works as a counselor on the adolescent inpatient unit and co-teaches a course on psychoanalysis at Yale in the Fall. Jeff endeavors to integrate different fields of study and he loves art and traveling.</p>
  <div id="person_back"><a href="people.html">BACK</a></div>	
</div>

</div> <!--end div person-->
</div><!--end div content-->