<td width="505" align="left" valign="top" class="style2">
<p class="h2">Jeff Erbe</p>
<p class="h3">Research Assistant</p>
<p class="p5">Jeff has a background in psychology and completed a Masters in Psychodynamic Developmental Neuroscience through University College London and Yale University. His current research examines the effects of substance abuse on parental processing of infant cues, using EEG and fMRI. He also works as a counselor on the adolescent inpatient unit and will co-teach a course on psychoanalysis at Yale in the Fall. Jeff endeavors to integrate different fields of study and he loves art and traveling.</p>

<br />
<p class="p5"><a href="people.html">BACK</a>
</td>
<td width="209" align="center" valign="top" class="style2"><br /><img src="images/erbe_bio.jpg" alt="Jeff Erbe" width="205" height="268" /></td>