<div id="content">
<div id="title"><h1>Evoked Potential Studies</h1></div>

<div id="content_image">
  <ul>
    <li><img src="images/jia_chris2.jpg" alt="Data Analysis at the DEL" /></li>
  </ul>
</div>

<div id="content_text">
  <p>These studies use evoked response potentials (ERPs) to determine patterns of brain activity among children and adults (including undergraduate psychology students) who are normal controls as well as children in the following groups:</p>
  <ol>
    <li>children prenatally exposed to cocaine and other drugs</li>
    <li>children growing up in economic diversity</li>
    <li>children from clinical populations including Tourette's Syndrome, autism, attention deficit disorder, conduct disorder/behavioral problems, depression, and anxiety</li>
  </ol>
  <p>In the first study, our aim is to study age related changes in brain function, in the regulation of attention, inhibition, emotion, memory, and learning in preadolescence through adulthood.  The second study we are testing our hypothesis that children who have been exposed to cocaine and other drugs in the prenatal period may exhibit differences in brain activation in specific regions of the prefrontal cortex as compared to normal child controls.  In the third study we are doing some exploratory analyses of brain activation in the same specific regions of the prefrontal cortex in children from different clinical populations.</p>
  <div class="content_link"><a href="studies.html">BACK</a></div>   
</div><!--end div content_text-->
</div><!--end div content-->

