<div id="content">
<div id="person">

<div id="person_image">
  <ul><li><img src="images/fogel_bio.jpg" alt="Allison Fogel" /></li></ul>
</div>

<div id="person_text">
  <h2>Allison Fogel</h2>
  <h3>Summer Research Assistant</h3>
  
  <p>I am a rising junior majoring in biopsychology and music at Tufts University, where I have assisted with research into language cognition using EEG. I am currently working in Dr. McPartland's lab on studies of social information processing in children with autism. This summer, I have enjoyed gaining research experience and insight into the entire process. In the future, I hope to further study cognitive neuroscience and social or music cognition, and I plan to study abroad in Paris next year.</p>
  <p><a href="mailto:allisonfogel@gmail.com">allisonfogel@gmail.com</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>
</div><!--end div person-->
</div><!--end div content-->