    <td width="505" align="left" valign="top" class="style2">
    <p class="h2">Jocelyn Friedlander</p>
    <p class="h3"></p>
    <p class="p5">bio under construction.  
</p>
<br />
<p class="p5"><a href="people.html">BACK</a>
	</td>
    <td width="209" align="center" valign="top" class="style2"><br /><img src="images/friedlander_bio.jpg" alt="Jocelyn Friedlander" width="205" height="275" /></td>