<div id="content">
<div id="title"><h1>Getting Here</h1></div>

<div id="content_text">
<p>The main entrance of the Child Study Center is located at 
  <b>230 South Frontage Road, New Haven, CT, 06511</b>, between York and College streets.</p>

<h3>Parking</h3>
<p>If this is a <b>weekend visit</b>, 
  you will be parking in front of the Child Study Center 
  <b><u>(free weekend parking)</u></b>. 
   As you travel down South Frontage, a one-way street, 
   the Center is on your right.  Call us so we may let you in the lot; 
   otherwise we’ll be waiting there to let you in when you arrive. 
   If you find that someone is not there to greet you in the lobby, 
   ask for Michael Crowley. </p>
   <p>If this is a <b>weekday visit</b>, 
     you may park in the Air Rights Garage (see map).  
     Parking lot entrance points are marked on the map. </p>
  <div id="map"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?q=230+South+Frontage+Road,+06511&amp;ie=UTF8&amp;hq=&amp;hnear=230+S+Frontage+Rd,+New+Haven,+Connecticut+06511&amp;z=14&amp;ll=41.304462,-72.933259&amp;output=embed"></iframe><br /><small><a href="http://www.google.com/maps?q=230+South+Frontage+Road,+06511&amp;ie=UTF8&amp;hq=&amp;hnear=230+S+Frontage+Rd,+New+Haven,+Connecticut+06511&amp;z=14&amp;ll=41.304462,-72.933259&amp;source=embed" style="color:#0000FF;text-align:left;font-size:1.2em">View Larger Google Map</a></small></div>

<h3>Driving directions</h3>
<div id="div_direction">
 <ul>
  <li>From I-95 North or South
  <p>I-95 traveling north or south Exit 47 to Route 34 west to Exit 2 or 3. 
    </p></li>
  
  <li>From I-91 South
  <p>I-91 traveling south Exit 1 to Route 34 west to Exit 2 or 3. 
 </p></li>
  
  <li>Wilbur Cross Parkway (Rte. 15) traveling south
  <p>Exit 59 immediately after tunnel. Right at end of ramp. 
    Merge left onto Whalley Avenue at light. 
    Stay on Whalley until you see signs for Yale-New Haven at Park Street. 
    Follow hospital signs, then make a left turn onto South Frontage Road. 
</p></li>

  <li>Merritt Parkway (Rte. 15) traveling north
  <p>Exit 57 to Route 34 east into New Haven. Right onto Ella T. 
    Grasso Boulevard (Rte. 10) and left onto South Frontage Road 
    (Legion Ave.). Follow hospital and Rte. 34 signs. 
    Covered entrance at 20 York Street. </p></li>
  
  <li>Route 1 (Boston Post Road) traveling east
  <p>After crossing Ella T. Grasso Boulevard (Rte. 10),
     turn left onto Davenport Avenue. When Davenport 
     crosses Howard Avenue, it becomes York Street.
      </p></li>
    </ul>
</div><!--end div div_direction-->
</div><!--end div content_text-->
</div><!--end div content-->