<td width="500" align="left" valign="top" class="style2">
<img src="images/gettinghere.jpg" alt="" name="directions" width="231" height="40" id="directions" hspace="8" vspace="8"/>
<p class="h2">Click map on right for Google Maps.</p>
<p class="p2">From I-95 North or South</p>
<p>I-95 traveling north or south Exit 47 to Route 34 west to Exit 2 or 3. Visitor parking available in Air Rights Garage (see map and parking, below). Enter the Air Rights Garage from North or South Frontage Roads, or York Street.</p>
<br />
<p class="p2">From I-91 South</p>
<p>I-91 traveling south Exit 1 to Route 34 west to Exit 2 or 3. Visitor parking available in Air Rights Garage (see map and parking, below). Enter the Air Rights Garage from North or South Frontage Roads, or York Street.</p>
<br />
<p class="p2">Wilbur Cross Parkway (Rte. 15) traveling south</p>
<p>Exit 59 immediately after tunnel. Right at end of ramp. Merge left onto Whalley Avenue at light. Stay on Whalley until you see signs for Yale-New Haven at Park Street. Follow hospital signs, then make a left turn onto South Frontage Road. Visitor parking available in Air Rights Garage (see map and parking, below). Enter the Air Rights Garage from South Frontage Road, or York Street.</p>
<br />
<p class="p2">Merritt Parkway (Rte. 15) traveling north</p>
<p>Exit 57 to Route 34 east into New Haven. Right onto Ella T. Grasso Boulevard (Rte. 10) and left onto South Frontage Road (Legion Ave.). Follow hospital and Rte. 34 signs. Covered entrance at 20 York Street. Visitor parking available in Air Rights Garage. Enter from North or South Frontage Roads, or York Street.</p>
<br />
 <p class="p2">Route 1 (Boston Post Road) traveling east</p>
<p>After crossing Ella T. Grasso Boulevard (Rte. 10), turn left onto Davenport Avenue. When Davenport crosses Howard Avenue, it becomes York Street. Visitor parking available in Air Rights Garage (see map and parking, below). Enter the Air Rights Garage from York Street.</p>

</td>
<td width="214" align="center" valign="top" class="style2"><p><br /><a href="http://www.google.com/maps?q=230%20South%20Frontage%20Road%2C%2006511"><img src="images/map.jpg" alt="Google Map of Child Study Center" width="200" height="278"/></a></p>
</td>