<td width="405" align="left" valign="top" class="style2">
<img src="images/grantinfo.jpg" alt="" name="Grant information for the Developmental Electrophysiology Lab" width="200" height="29" id="Grant Info" hspace="8" vspace="8" />
<p class = "h2">Our research is supported by: </p>
<p class = "h4">National Institute on Drug Abuse (NIDA) </p><p><a href="http://www.nida.nih.gov/">http://www.nida.nih.gov/ </a></p>
<p class = "h4">National Institute of Child Health and Human Development (NICHD)</p><p><a href = "http://www.nichd.nih.gov/">http://www.nichd.nih.gov/</a></p>
<p class = "h4">NARSAD </p><p><a href = "http://www.narsad.org"> http://www.narsad.org</a></p>	
<p class = "h4">Yale's Interdisciplinary Research Consortium on Stress, Self-Control and Addiction (Yale-IRC)</p>

</td>
<td width="320" align="center" valign="top" class="style2"><p><br /><img src="images/net2.jpg" alt="Portable dense array EEG system" width="300" height="233"/></p>

</td>