<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/greger-moser_bio.jpg" alt="Max Greger-Moser"  />
</div>

<div id="person_text">
  <h2>Max Greger-Moser</h2>
  <h3>Research Assistant</h3>
  
  <p>Max graduated from Drew University in 2009 with a BA degree in psychology. He is currently working for the DEL as a research assistant, 
    focusing on EEG and child assessment. His research interests include emotion, stress, reward mechanisms, parenting and how all of these interface with neurobiology. He is very excited to join the team and learn all he can about neuroscience research. In his free time, Max enjoys going on long bike rides.</p>
  
  <p><a href="mailto:max.mgregerm@drew.edu">mgregerm@drew.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->
