<td width="405" align="left" valign="top" class="style2">
<p class="h2">Infant Follow-up Project</p>
 <p class="p5">In the first two phases of this study, we described a continuum of developmental impairment and dysfunction among prenatally cocaine-exposed children that includes emotional lability, impaired visuospatial processing and visual motor integration, delayed cognitive expressive and receptive language develoopment, impulsivity and difficulty inhibiting prepotent responses, attenuated stress resonse systems, and increased parental dysfunction.  In the second phase we are following up our findings and assessing children exposed prenatally to cocaine and two non-cocaine-exposed comparison groups twice yearly with convergent measures of the following child-related outcomes:</p>
 <ol class="p6">
   <li>Cognitive, language functioning, and school (academic) achievement</li>
   <li>Neurophysiological Functioning: Aspects of executive functioning reflecting prefrontal cortical systems and attention regulation.</li>
   <li>Arousal regulation operationalized as the startle response.</li>
   <li>Social adaptation, maladaptation, and psychopathology: Adaptive and maladaptive behaviors, social adjustment, and incidence of childhood psychopathology.</li>
   <li>Physical health and development.</li>
 </ol>
 </p>
 <br />
<p align="left" class="p5"><a href="studies.html">BACK</a></p>   </td>
<td width="320" align="center" valign="top" class="style2"><p><br /><p><img src="images/tasks1.jpg" alt="Portable dense array EEG system" width="300" height="234"/></p>

</td>