<div id="content">

<div id="title"><h1>Welcome</h1></div>
  
<div id="content_image">
  <img src="images/placement2.jpg" alt="Geodesic Sensor Net Placement" />
  <br />  
</div> <!--end div content_image-->

<div id="content_text">  
  <p>Welcome to the Developmental Electrophysiology Laboratory (DEL), a core research resource in the Yale Child Study Center and the Yale School of Medicine.</p>
  <p>Overseen by <a href="lmayes.html">Dr. Mayes</a>, <a href="crowley.html">Crowley</a>, and <a href="mcpartland.html">McPartland</a>, the DEL is a developmental laboratory, designed for, and experienced with typical and atypical populations from infancy through later adulthood. The DEL is equipped to study brain electrical responses and peripheral psychophysiological indices of cognition, emotion and arousal.</p>
<p>The DEL serves as a nexus of interdepartmental collaboration and opportunities for faculty and students at all levels. These include studies with four research groups in the <a href="http://childstudycenter.yale.edu">Child Study Center</a> (CSC) as well as investigators from the departments of diagnostic radiology, surgery, pediatrics, and psychiatry from the <a href="http://medicine.yale.edu">Yale School of Medicine</a> and from the <a href="http://www.haskins.yale.edu/">Haskins Laboratories</a>.</p>