<div id="content">
<div id = "title"><h1>Welcome!</h1></div>

<div id="slider-wrapper">
<div id="slider" class="nivoSlider">
    <img src="/labs/del/images/slideshow/slide01.jpg" alt="" title="2011 CSC BBQ"/>
    <img src="/labs/del/images/slideshow/slide02.jpg" alt="" title="2011 CSC BBQ" />
    <img src="/labs/del/images/slideshow/slide03.jpg" alt="" title="2011 CSC BBQ"/>
    <img src="/labs/del/images/slideshow/slide04.jpg" alt="" title="2011 CSC BBQ"/>
    <img src="/labs/del/images/slideshow/slide05.jpg" alt="" title="2011 CSC BBQ"/>
    <img src="/labs/del/images/slideshow/slide06.jpg" alt="" title="2011 CSC BBQ"/>
    <img src="/labs/del/images/slideshow/slide07.jpg" alt="" title="2011 CSC BBQ"/>
    <img src="/labs/del/images/slideshow/slide08.jpg" alt="" title="2010 Intern Poster Exhibition"/>
    <img src="/labs/del/images/slideshow/slide09.jpg" alt="" title="2010 Intern GoodBye Party"/>
    <img src="/labs/del/images/slideshow/slide10.jpg" alt="" title="2010 Matt's GoodBye Brunch"/>
    <img src="/labs/del/images/slideshow/slide11.jpg" alt="" title="2010 Leafi's GoodBye Party"/>
</div>

<div id="htmlcaption" class="nivo-html-caption">
    <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
</div>

<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
        effect:'random'});
});
</script>

</div> <!--end div slider-wrapper-->
</div> <!--end div content-->


