<div id="content">

<div id="title"><h1>Welcome</h1></div>
  
<div id="content_image">
  <img src="images/placement2.jpg" alt="Geodesic Sensor Net Placement" />
  <br /><br />
  <img src="images/gps1.jpg" alt="Geodesic Photogrammetry System"  />
</div> <!--end div content_image-->

<div id="content_text">  
  <p>Welcome to the Developmental Electrophysiology Laboratory (DEL), a core research resource in the Yale Child Study Center and the Yale School of Medicine.</p>  
  <p>The collaborative group of DEL investigators are engaged in neuroscience research with infants, school-aged children, adolescents, and young through elderly adults.  
    The themes of our research include reward processing, social cognition, emotion regulation, and cognitive change in both normative development and clinical populations.</p> 
  <p>The DEL provides facilities and support for dense array electroencephalography using three 128 or 256 channel systems.  
    Also available is integrated eye tracking to allow precise localization of visual attention during individual trials and photogrammetry to permit more precise source localization of electrical signals and integration with structural and functional MRI.  
    Additionally, the DEL provides resources for studying peripheral physiology including acoustic startle, electrocardiogram, and skin conductance that may be recorded simultaneously with EEG.</p> 
  <p>The DEL has developed a range of paradigms in the E-Prime experimental design suite to administer visual, auditory, tactile and behavioral assessments.  
    In addition to E-Prime, our research staff possesses technical expertise in MATLAB, BESA, Netstation, and a variety of statistical analysis packages.</p>
</div><!-- end of div content_text-->

</div> <!-- end of div content-->

