<div id="content">
<div id="K23">
 	<h2>McPartland Publications</h2>
 	<p>The references below link to recent publications, manuscripts under editorial consideration, and manuscripts in preparation. These documents are provided in support of Dr. McPartland’s K23 application and are intended for perusal by NIH personnel.  As most of these works are not yet final, please do not distribute.</p>
 
 	<div class="K23_subtitle"><h3>Recent publications:</h3></div>
 	<ol id="allow_paused_list">
 	  <li><strong>McPartland, J. </strong>(2009). <i>Face and object perception in Asperger syndrome.</i> Koln, Germany: Lambert Academic Publishing.<a href = "http://www.amazon.com/Face-object-perception-Asperger-syndrome/dp/3838312260/ref=sr_1_1?ie=UTF8&amp;s=books&amp;qid=1259681333&amp;sr=1-1" target = "_blank"><br /><u>View on amazon</u></a></li>
    <li>
      <strong>McPartland J.</strong> &amp; Volkmar F. (2009). Current clinical practice in Asperger disorder.<i> Psychiatric Times,</i> 26(11), 52-56. <a href = "material/K23/02_McPartland_AS_Psychiatric_Times_09.pdf"><br /><u>Download manuscript.</u></a>
  <div class="K23_subtitle"><h3>Manuscripts under editorial consideration:</h3></div>
      </li>
 	  <li>Cheung, C., Mayes, L., Rutherford, H. &amp; <strong>McPartland, J.</strong> (2009).<i> Social personality traits are reflected in neural responses to faces.</i> Manuscript under editorial consideration, <i>Social Neuroscience.</i> <a href = "material/K23/03_Cheung_Extroversion_Face_ERP_Social_Neuroscience_Revised.pdf"><br /><u>Download manuscript.</u></a></li>
 	  <li><strong>McPartland, J., </strong>Webb, S., Keehn, B. &amp; Dawson, G. (2009).<i> Patterns of visual attention to faces and objects in autism spectrum disorder. </i> Manuscript under editorial consideration, <i>Journal of Autism and Developmental Disorders. </i> <a href = "material/K23/04_McPartland_Face_object_perception_ET_JADD.pdf"><br /><u>Download manuscript.</u></a></li>
 	  <li>
 	    <strong>McPartland, J., </strong>Wu, J., Bailey, C., Schultz, R. &amp; Klin, A. (2009).<i> Preserved neural specialization for non-social information in autism.</i> Manuscript under editorial consideration, <i>Archives of General Psychiatry.</i> <a href = "material/K23/05_McPartland_Neural_specialization_autism_Archives.Figures.pdf"><br /><u>Download manuscript.</u></a>

  <div class="K23_subtitle"><h3>Written works in preparation and submitted abstracts:</h3></div>
      </li>
    <li><strong>McPartland, J., </strong>Cheung, C., Perszyk, D. &amp; Mayes, L. <i>Face-related ERPs are modulated by point of gaze. </i>Planned submission December 10 to <i>Neuroreport.</i> <a href = "material/K23/06_McPartland_Visual_fixations_face_ERP_NeuroReport.DRAFT.pdf"><br /><u>Download manuscript.</u></a></li>    
    <li><strong>McPartland, J., </strong>Crowley, M., Molfese, P., Perszyk, D., Klin, A. &amp; Mayes, L.<i> Neural correlates of social exclusion in autism spectrum disorder.</i> Abstract submitted for the International Meeting for Autism Research, May 2010. <a href = "material/K23/07_McPartland_Cyberball_EEG_IMFAR_2010.FINAL.pdf"><br /><u>Download Abstract.</u></a></li>
    <li>Shultz, S., Jones, W., Klin, A. &amp; <strong>McPartland, J. </strong> <i>Social context modulates neural response to human faces. </i>Planned submission February 2010 to <i>Developmental Neuropsychology. </i><a href = "material/K23/08_Shultz_Face_context_ERP_DRAFT.pdf"><br /><u>Download manuscript.</u></a></li>
    <li>Kilroy, E., Cheung, C., Perszyk, D., Mayes, L. &amp; <strong>McPartland, J. </strong> <i>Autistic-like behaviors, social personality characteristics, and neural correlates of face perception in the general population.</i>Abstract submitted for the International Meeting for Autism Research, May 2010. <a href = "material/K23/09_Kilroy_AQ_ERP_IMFAR_2010.FINAL.pdf"><br /><u>Download Abstract.</u></a></li>
    <li>Perszyk, D., Molfese, P., Kilroy, E., Mayes, L., Klin, A. &amp; <strong>McPartland, J. </strong><i>Developmental changes in brain bases of face perception as revealed by ERPs. </i> Abstract submitted for the International Meeting for Autism Research, May 2010. <a href = "material/K23/10_Persyzk_Face_Letter_Source_Localization_IMFAR_2010.FINAL.pdf"><br /><u>Download Abstract.</u></a></li>
    <li>Bernier, R. &amp; <strong>McPartland, J. </strong> <i> Action-perception system activation to static faces.</i> Planned submission January 2010 to <i>Social, Cognitive, and Affective Neuroscience. </i></li>
    <li>Klin, A., <strong>McPartland, J.</strong> &amp; Volkmar, F. (Eds.) <i>Asperger syndrome</i> (2nd ed). New York: Guilford. Planned publication Spring 2010. </li>
    <li>Ozonoff, S., Dawson, G. &amp; <strong>McPartland, J.</strong> <i>A parent’s guide to Asperger Syndrome and high-functioning autism: How to meet the challenges and help your child thrive.</i> New York: Guilford. Planned publication Spring 2011.</li>
    <li>
      Volkmar F &amp; <strong>McPartland, J.</strong> Autism. In M. Aminoff, F. Boller &amp; D. Swaab (Eds.), <i>Handbook of clinical neurology </i>(3rd ed). Edinburgh: Elsevier. Planned submission December 18, 2009.  
      <div class="K23_subtitle"><h3>Studies in progress:</h3></div>
    </li>
    <li><strong>McPartland, J.</strong> &amp; Bernier, R. <i>Action-perception system activation to static faces in ASD.</i></li>
    <li><strong>McPartland, J.</strong> &amp; Bernier, R. <i>Connectivity in social brain systems in autism. </i></li>
    <li><strong>McPartland, J.,</strong> Cheung, C., Perszyk, D. &amp; Mayes, L. <i>Visual attention to faces and neural response in ASD.</i></li>
    <li><strong>McPartland, J., </strong>Molfese, P., Wu, J., Cheung, C., &amp; Mayes, L. <i>Concurrent recording of visual attention and ERP response to faces.</i></li>
    <li><strong>McPartland, J.,</strong> Jones, W. &amp; Klin, A. <i>Visual processing of faces and objects during encoding and recognition in autism.</i></li>
    <li><strong>McPartland, J.,</strong> Crowley, M., Mayes, L. <i>ERP response in children with ASD to emotional faces in a target detection task. </i></li>
    <li>Shultz, S., Ramsay, G., Jones, W., Klin, A. &amp; <strong>McPartland, J.</strong> <i>The role of context in face processing in ASD. </i></li>
  </ol>
</div>
</div>