<div id="content">
<div id="title"><h1>Kids Corner</h1></div>
<div id="content_image">
  <ul>
	  <li><img src="images/kidscorner_pic.jpg" alt="kids corner" /></li>
	  <li></li>
	</ul>
</div>

<div id="content_text">
  <p>Interested in participation? We are currently recruiting 8 to 16 years old children. For more information please email Michael Crowley at: <a href="mailto:michael.crowley@yale.edu">michael.crowley@yale.edu</a> or call: 203-785-5786.</p>
  <p>Interested in learning more about your brain? Check out the links below for some amazing brain facts and fun, brainy games!</p>
  <div id="ul_bullet">
  <ul>
    <li><a href = "material/brochure_eeg.pdf">Download the brochure to explain brain activity</a></li>
    <li><a href = "material/brochure_kids.pdf">Download the brochure for kids</a></li>
    <li><a href= "http://www.brainconnection.com/library/?main=explorehome/brain-facts" target = "_blank">Brain Facts from the Brain Connection</a></li>
    <li><a href="http://www.sfn.org/index.cfm?pagename=brainfacts" target = "_blank" >Brain Facts from the Society for Neuroscience</a></li>
    <li><a href="http://www.brainsrule.com/kids/games/index.htm" target = "_blank" >Brainy Games from Brains Rule</a></li>
  </ul>
</div>
</div>
</div>