    <td width="405" align="left" valign="top" class="style2">
	<img src="images/kidscorner.jpg" alt="The Kids Corner at the DEL" name="The Kids Corner at the DEL" width="231" height="40" id="participating" hspace="8" vspace="8" />
	<p>Interested in learning more about your brain? Check out the links below for some amazing brain facts and fun, brainy games!</p>
	      <p class = "p5"><a href= "http://www.brainconnection.com/library/?main=explorehome/brain-facts" target = "_blank">Brain Facts from the Brain Connection<p></a>
				<p class = "p5"><a href="http://www.sfn.org/index.cfm?pagename=brainfacts" target = "_blank" >Brain Facts from the Society for Neuroscience<p></a>
				<p class = "p5"><a href="http://www.brainsrule.com/kids/games/index.htm" target = "_blank" >Brainy Games from Brains Rule<p></a>
	
</td>
    <td width="320" align="center" valign="top" class="style2">
	<br /><p><img src="images/kidscorner_pic.jpg" alt="kids corner" width="305" height="212" /></p>
    </td>
