 <td width="345" align="left" valign="top" class="style2">
  <img src="images/labnews.jpg" alt="" name="labnews" width="231" height="41" id="labnews" hspace="8" vspace="8"/>
 <p>	New about our lab!   </p></td>
  <td width="371" align="center" valign="top" class="style2"><p><br /><img src="images/placement2.jpg" alt="Geodesic Sensor Net Placement" width="354" height="244"/></p>
  <p><img src="images/gps1.jpg" alt="Geodesic Photogrammetry System" width="354" height="237" /></p></td>