<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/landi_bio.jpg" alt="Nicole Landi, Ph.D." width="205" height="280" />
</div>

<div id="person_text">
  <h2>Nicole Landi, Ph.D.</h2>
  <h3>Associate Research Scientist</h3>
  
  <p>Nicole Landi completed an NRSA postdoctoral fellowship at Haskins Laboratories from 2005- 2007 followed by a Postdoctoral position at the Yale Child Study Center. She is currently a faculty member at the Yale Child Study Center.</p>
  <p>Nicole's research examines the acquisition and development of reading as well as individual differences in reading skill. She studies these issues using multiple methodologies with an emphasis on cognitive neuroscience methods including functional magnetic resonance imaging (fMRI) and event related potentials (ERP). By examining early school children, adolescents, and young adults her research spans a broad range of reading development. She has also examined different types of skill variation including skill differences within the typically developing population of children and adults and within the reading disabled (RD) or dyslexic population. In particular, her work has looked at three key areas 1) learning to read new words/acquiring new word representations, 2) reading comprehension and reading comprehension failure and 3) understanding the neurobiological bases of dyslexia. Dr. Landi is currently expanding this work to include studies maternal infant attachment using EEG and fMRI and studies of the genetic bases of reading and language impairment.</p>
  <p><a href="mailto:landi@haskins.yale.edu">landi@haskins.yale.edu</a></p>
  <p>CSC office number: SHMIE74</p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->