 <td width="505" align="left" valign="top" class="style2">
  <p class="h2">Nicole Landi, Ph.D.</p>
  <p class="h3">Assistant Professor, University of Minnesota</p>
  <p class="p5">Nicole Landi received her Ph.D. in Cognitive Psychology and Cognitive Neuroscience from the University of Pittsburgh in 2005. She completed an NRSA postdoctoral fellowship at Haskins Laboratories from 2005- 2007 followed by a Postdoctoral position at the Yale Child Study Center. She is currently an Assitatant Professor at the University of Minnesota, a Senior Scientist at Haskins Laboratories, and an Adjunct Assistant Professor at the Yale Child Study Center.</p>
<p class = "p5">Nicole's research examines the acquisition and development of reading as well as individual differences in reading skill. She study these issues using multiple methodologies with an emphasis on cognitive neuroscience methods including functional magnetic resonance imaging (fMRI) and event related potentials (ERP). By examining early school children, adolescents, and young adults,her research spans a broad range of reading development. She have also examined different types of skill variation including skill differences within the typically developing population of children and adults and within the reading disabled (RD) or dyslexic population. In particular, my work has looked at three key areas 1) learning to read new words/acquiring new word representations, 2) reading comprehension and reading comprehension failure and 3) understanding the neurobiological bases of dyslexia. Dr. Landi is currently expanding this work to include studies maternal-infant attachment using EEG and fMRI and studies of the genetic bases of reading and language impairment.</p>
<p class = "p5"><a href="http://cehd.umn.edu/EdPsych/Faculty/Landi.html" target = "_blank" class="p5">Visit Nicole's website</a></p>


<br />
<p class="p5"><a href="people.html">BACK</a>
</td>
  <td width="209" align="center" valign="top" class="style2"><br /><img src="images/landi_bio.jpg" alt="Nicole Landi, Ph.D." width="126" height="175" /></td>