<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/langlois_bio.jpg" alt="Eric Langlois" width="205" height="270" />
</div>

<div id="person_text">
  <h2>Eric Langlois</h2>
  <h3>Research Assistant</h3>
  
  <p>Eric graduated from Southern Connecticut State University in 2003 with a B.A. in Psychology and has worked in the lab as a research assistant since 2003 on a number of different projects.  He currently works in the DEL analyzing data for various studies and maintaining the electrophysiological equipment.  Eric also serves as the current web developer and designer of all the downloadable brochures for the lab.  His interests include photography and graphic design and his work can be viewed on his personal website: 
    <a href="http://www.rawphotodesign.com">http://www.rawphotodesign.com</a>.</p> 
  <div id="person_back"><a href="people.html">BACK</a></div>	
</div>

</div><!--end div person-->
</div><!--end div content-->