<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/lau_bio.jpg" alt="Airey Lau" />
</div>

<div id="person_text">
  <h2>Airey Lau</h2>
  <h3>Master's Student</h3>
  
  <p>Airey is currently doing her Master's degree with Dr. Michael Crowley at the Child Study Center of the Yale Medical School. Her research interest involves studying the neurological basis of anxiety on a developmental spectrum using electroencephalography.  Airey graduated from McMaster University in the Honours Arts & Science, and Psychology Combined Programme. She wishes to pursue a career in Educational Neuroscience, or in 3D-anamorphic street-painting in Europe.</p>
  <p><a href="mailto:airey.lau@yale.edu">airey.lau@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div> <!--end div person-->
</div><!--end div content-->