<div id="content">
<div id="person">

<div id="person_image">
  <ul><li><img src="images/malak_bio.jpg" alt="Sabrina Malak" /></li></ul>
</div>

<div id="person_text">
  <h2>Sabrina Malak</h2>
  <h3>Yale Undergraduate</h3>
  
  <p>Sabrina is currently a junior at Yale College.  She is a Psychology major working with Dr. Rutherford on emotional regulation studies with the use of EEG.  Sabrina hopes to eventually become a clinical psychologist and work with children.  She is a member of Yale’s Varsity Women’s Rowing team.</p>
  <p><a href="mailto:sabrina.malak@yale.edu">sabrina.malak@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>
</div><!--end div person-->
</div><!--end div content-->