<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/mccreary_bio.jpg" alt="Scott McCreary" width="205" height="270" />
</div>

<div id="person_text">
  <h2>Scott McCreary</h2>
  <h3>Yale Undergraduate</h3>
  
  <p>Scott McCreary studied Psychology with a concentration in Neuroscience as an undergraduate at Yale. In his two years with the lab, he focused on the effects of social exclusion on adolescent anxiety and risk-taking. An avid musician, he is currently pursuing a degree in Cello Performance at Rice University, and sang as a member of the Whiffenpoofs at Yale.</p>
  <p><a href="mailto:scott.mccreary@aya.yale.edu">scott.mccreary@aya.yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->