<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/mccreary_bio.jpg" alt="Scott McCreary" width="205" height="270" />
</div>

<div id="person_text">
  <h2>Scott McCreary</h2>
  <h3>Yale Undergraduate</h3>
  
  <p>bio under construction</p>
  <p><a href="mailto:scott.mccreary@yale.edu">scott.mccreary@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->