<td width="505" align="left" valign="top" class="style2">
<p class="h2">James McPartland, Ph.D.</p>
<p class="h3">Associate Director, Developmental Electrophysiology Lab</p>
<p class="p5">James McPartland earned his doctoral degree in Child Clinical Psychology from the University of Washington in 2005, where he studied under Geraldine Dawson.  He completed autism-focused pre- and post-doctoral fellowships at the Yale Child Study Center under the mentorship of Drs. Klin, Schultz, Volkmar, and Chawarska, and he joined the faculty as an Associate Research Scientist in 2006.  Dr. McPartland is a licensed clinical psychologist active in the Yale Developmental Disabilities Clinic, and he directs a research program using electrophysiological methods to investigate social brain function in individuals with autism.  
</p>
<br />
<p class="p5"><a href="people.html">BACK</a>
</td>
<td width="209" align="center" valign="top" class="style2"><br /><img src="images/mcpartland_bio2.jpg" alt="James McPartland, Ph.D." width="205" height="275" /></td>