<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/mcpartland_bio.jpg" alt="James McPartland, Ph.D."  />
</div>

<div id="person_text">
  <h2>James C. McPartland, Ph.D.</h2>
  <h3>Assistant Professor, Yale Child Study Center<br />Associate Director, Developmental Electrophysiology Lab</h3>
  
  <p>James McPartland is an Assistant Professor and Associate Director of the Developmental Electrophysiology Laboratory at the Yale Child Study Center.  He graduated magna cum laude in Psychology from Harvard University in 1996 and received a doctoral degree in Child Clinical Psychology from the University of Washington in 2005.  He completed pre- and post-doctoral clinical fellowships and is a licensed child psychologist, currently leading a multidisciplinary team at the Yale Developmental Disabilities Clinic (www.autism.fm).  He teaches an undergraduate seminar (autism.yale.edu) addressing topics in autism and providing students with first-hand clinical experiences with local service providers.  
  </p>
  <p>Dr. McPartland’s program of research employs electroencephalography to investigate the integrity of brain systems supporting social information processing in children with social disabilities.  He is particularly interested in the developmental nature of social deficits in autism and the role that experience plays in shaping brain function and behavior over time.  The objective of Dr. McPartland’s program of research is to develop biologically-based tools for earlier identification of autism and for the objective assessment of response to intervention.  Dr. McPartland’s research has been recognized by a Clinical and Translational Sciences Scholar Award from the Yale Center for Clinical Investigation, a National Institutes of Mental Health Behavioral Science Track Award for Rapid Transition, and a NARSAD Young Investigator Award.</p>
  
  <p><a href="mailto:james.mcpartland@yale.edu">james.mcpartland@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->
