<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/moedano_bio.jpg" alt="Leticia Moedano" />
</div>

<div id="person_text">
  <h2>Leticia Moedano</h2>
  <h3>Yale Undergraduate</h3>
  
  <p>Leticia Moedano from Yuma Arizona is currently a senior seeking 
    a B.S. in Psychology and concentrating on behavioral neuroscience 
    at Yale University. Leticia, a STARS II Scholar, has been working 
    in the Developmental Electrophysiology Lab throughout her junior 
    year and this past summer under the mentorship of Dr. Michael 
    Crowley on several studies using EEG to study the effect of 
    emotion regulation and social exclusion in children. She is 
    currently working on designing a study for her senior thesis 
    examining the neural mechanisms involved in children with 
    anxiety disorders.</p>
    <p>Prior to joining this research team, she conducted research as a 
      summer STARS I intern under the mentorship of Carolyn S. Stankiewicz 
      in Dr. Valerie Reinke’s lab in the Genetics Department of the Yale 
      School of Medicine studying the role of the Vaccina-related kinase 
      (Vrk1) in mice.  Leticia’s academic interests are clinical psychology, 
      public health, and medicine. 
      She hopes to pursue a career in medicine and research.</p>
    <p><a href="mailto:leticia.moedano@yale.edu">leticia.moedano@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>
</div><!--end div person-->
</div><!--end div content-->
