<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/molfese_bio.jpg" alt="Peter Molfese" />
</div>

<div id="person_text">
  <h2>Peter J. Molfese</h2>
  <h3>Postdoctoral Associate</h3>
  
  <p>Peter Molfese earned his Ph.D. in Developmental Cognitive Neuroscience with a minor quantitative methods from the University of Houston in 2009, under supervision of Dr. Jack Fletcher.  Peter studies the development of learning and language in children, which was reflected in his doctoral dissertation titled "Neural Correlates of Response to Intervention in Children".  With a background in Psychology, Neuroscience, and Computer Science, Peter specializes in integration of multimodal neuroimaging methods (ERP, fMRI, MEG) as well as statistical methods for analysis of these data (structural equations model, multilevel models, and multivariate statistics).  Peter is currently a postdoctoral associate with the Yale Child Study Center under the mentorship of Dr. Linda Mayes, M.D.</p>
  <p><a href="mailto:peter.molfese@yale.edu">peter.molfese@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></p>
</div>

</div><!--end div person-->
</div><!--end div content-->
