<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/moran_bio.jpg" alt="William Moran" width="205" height="270" />
</div>

<div id="person_text">
  <h2>William Moran</h2>
  <h3></h3>
  
  <p>William (Billy) is a sophomore studying cognitive science at Yale University. His primary research interests center around developmental psychology, anxiety, and education. He works alongside Dr. Crowley examining reward processing and anxiety using EEG. He is also a Zigler Fellow at the Edward Zigler Center in Child Development and Social Policy, a member of the Yale Mock Trial Association, and a weaver.</p>
  
  <p><a href="mailto:william.moran@yale.edu">william.moran@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->