<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/mukerji_bio.jpg" alt="Cora Mukerji"  />
</div>

<div id="person_text">
  <h2>Cora Mukerji</h2>
  <h3>Research Assistant</h3>
  
  <p>Cora Mukerji is a rising senior studying behavioral neuroscience at
  Yale University. She is currently working as a research assistant in
  Dr. McPartland's lab and designing a thesis study to examine the
  temporal dynamics of empathy for social and physical pain using EEG.
  She has also served as a research assistant in  Dr. Santos’s
  comparative cognition lab (Caplab) and carried out a study on false
  belief understanding in rhesus macaques, which is currently under
  review for publication. Her current research interests include using
  EEG to study social perception in children and infants with autism.
  She hopes to pursue a career as a clinical scientist, focusing on
  autism research.</p>
  
  <p><a href="mailto:cora.mukerji@yale.edu">cora.mukerji@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->
