<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/nicholls_bio.jpg" alt="Sarah Nicholls, Ph.D."  />
</div>

<div id="person_text">
  <h2>Sarah Nicholls, Ph.D.</h2>
  <h3>Associate Research Scientist</h3>
  
  <p>bio under construction.</p>
  
  <p><a href="mailto:sarah.nicholls@yale.edu">sarah.nicholls@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->