<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/nolte_bio.jpg" alt="Tobias Nolte, M.D." />
</div>

<div id="person_text">
  <h2>Tobias Nolte, M.D.</h2>
  <h3>Master student</h3>
  
  <p>Tobias graduated from University of Goettingen Med School in 2006. His M.D. doctoral thesis investigated the influence of psychotherapists’ reflective functioning in relation to their attachment representations on patient outcome and alliance in psychodynamic inpatient psychotherapy. </p>
  <p>He is currently enrolled in the Psychodynamic Developmental Neuroscience M.Sc. program at UCL in London and Yale Child Study Center. Research interests span from social cognition to psychotherapy research and psychoanalytic thought. His ongoing project focuses on the decoupling mechanism of attachment activation on mentalization capacities which is examined in an ERP study with later transformation into an fMRI paradigm. He might appear less boring than all this sounds…</p>
  
  <div id="person_back"><a href="people.html">BACK</a></p>
</div>

</div><!--end div person-->
</div><!--end div content-->
