<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/norton_bio.jpg" alt="Jessica Norton" />
</div>

<div id="person_text">
  <h2>Jessica Norton</h2>
  <h3>Yale Undergraduate</h3>
  
  <p>Jessi Norton is a rising senior from Chicago, Illinois seeking a 
    B.S. in Psychology at Yale University. She has been involved in Dr. 
    Linda Mayes's lab since the start of her junior year working on studies 
    that use EEG data to investigate the effects of emotion regulation and 
    social exclusion in children. Currently, she is working with Dr. Michael 
    Crowley on designing a study that examines the neural mechanisms of worry 
    in children. She plans to write her senior thesis on the neurological 
    pathways associated with anxiety and anxiety disorders. Jessi's academic 
    interests are human development, pediatrics, and medicine. She will 
    pursue a medical degree after graduation.</p>
    <p><a href="mailto:jessica.norton@yale.edu">jessica.norton@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->
