<div id="content">
<div id="title"><h1>Parenting</h1></div>
  
<div id="content_image">
  <ul>
	  <li><img src="" /></li>
	</ul>
</div>

<div id = "content_text">
  <p>Becoming a parent represents an important developmental period within adulthood.
We are interested in understanding the neural correlates of parenting using
EEG/ERP and we collaborate with colleagues in the Department of Psychiatry for
complimentary assessments using fMRI. We are examining parenting across the
postpartum period, and many of our mothers attend visits at 3 months and then 6
months postpartum. We also take saliva samples during the visits so we can
assess changes in oxytocin levels and whether this predicts neural responses in
our paradigms. Outside of Yale, our collaborators in these studies are Drs.
Josephine Johns (University of North Carolina at Chapel Hill) and Lane
Strathearn (Baylor College of Medicine).</p>

<p> Currently we are focusing on two key areas in our parenting program of
 research:</p>
<ol>
<li>Maternal sensitivity to infant cues
In these studies we explore neural sensitivity to infant cues of affect. Our
stimuli include both infant cries (varying in distress levels) and photographs
of infant faces (varying in expression). In addition to exploring individual
differences within mothers and how this affects sensitivity to infant cues, we
are also assessing whether maternal substance use influences perception of
infant affect.</li>

<li>Maternal emotion regulation
 Here we are assessing the neural correlates of emotion regulation in mothers
 and non-mothers when viewing photographs of infants in different emotional
states. We are interested in whether the neurobiological and experiential
changes in
 becoming a parent facilitate more effective emotion regulation strategies.</li>
</ol>
  <div class="content_link"><a href="studies.html">BACK</a></div>

</div>
</div>