<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/peisch_bio.jpg" alt="Virginia Peisch" width="205" height="270" />
</div>

<div id="person_text">
  <h2>Virginia Peisch</h2>
  <h3>Masters student</h3>
  
  <p>I am studying at the Yale Child Study Center as a Masters student, working with Dr. Mayes. I am particularly interested in how early adversity affects emotion regulation capacities in children and how exposure to early chronic stress may influence later parenting behaviors.</p>
<p>I graduated from Dartmouth College in 2011 and am an avid field hockey player. </p>
  <p><a href="mailto:virginia.peisch@yale.edu">virginia.peisch@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->