<td width="405" align="left" valign="top" class="style2">
<img src="images/publications_presentations.jpg" alt="" name="publications" width="300" height="29" id="publications" hspace="8" vspace="8" />
<p> Crowley, M.J., Wu, J., Crutcher, C., Bailey, C.A., Lejuez, W.C., Mayes, L.C. (2009). Risk-Taking and the Feedback Negativity Response to Loss Among At-risk Adolescents. <i>Developmental Neuroscience.</i>&nbsp;&nbsp;31(1-2):137-48&nbsp;&nbsp;<a href = material/crowley_2009.pdf><u>PDF</u></a></p>
<p> Mayes, L.C., Molfese, D.L., Key, A.P., Hunter, N.C. (2005). Event-related potentials in cocaine-exposed children during a Stroop task. <i>Neurotoxicology and teratology.</i>&nbsp;27(6):797-813&nbsp;&nbsp;<a href = material/mayes_2005.pdf><u>PDF</u></a></p>


<p> McPartland, J., Wu, J., Schultz, R. & Klin, A. (2009, May). Neural specialization for faces and letters in autism. Poster presented at the International Meeting for Autism Research, Chicago, IL. </p>
<p> Shultz, S., Jones, W., Klin, A., & McPartland, J. (2009, May). Immediate Social Context in Face Processing: An ERP Study of Autism.  Poster presented at the International Meeting for Autism Research, Chicago, IL.</p>
<p> Crowley, J. M., Wu, J., Bailey, A. C. (2009 March). Avoidant Attachment, Social Exclusion and Re-entry into Fair Play.  Paper Presented at the Society for Research in Child Development (SRCD), Denver, Colorado </p>
<p>Landi, N., Worhunsky, P., Mencl, W.E., Erbe, J., Potenza, M.N., Irwin, J.R., Topf, J., & Mayes, L.C. (March, 2009). Functional Cortical Activation Associated with Processing of Infant Emotional State. Presented at the sixteenth annual meeting of the cognitive neuroscience society, San Francisco, CA</p>
<p>Erbe, J., Landi, N., Irwin,J., Mencl, E., Topf,J.,  Potenza, M. & Mayes, L. (March, 2009). EEG Measures of Adult Response to Infant Emotion.  Presented at the sixteenth annual meeting of the cognitive neuroscience society, San Francisco, CA</p>


</td>
<td width="323" align="center" valign="top" class="style2"><br />
<br /><p><img src="images/headmodel.jpg" alt="headmodel" width="305" height="204" /></p>
<br /><br />
<p><img src="images/brainwave.jpg" alt="brainwave" width="305" height="187" /></p>
</td>