<div id="content">
<div id="person">

<div id="person_image">
<img src="images/ramakrishnan_bio.jpg" alt="Amrita Ramakrishnan" />
</div>

<div id="person_text">
  <h2>Amrita Ramakrishnan</h2>
  <h3>Post Graduate Research Associate</h3>
  <p>Amrita recently graduated from Stony Brook University with a Bachelors of Science in Psychology and a minor in British Literature. She is currently working with Dr. Michael Crowley on developmental anxiety studies using high density EEG. She is excited to get started on new studies using the eye blink startle response. She hopes to pursue a Ph.D. in Child Clinical Psychology. When she has stretches of spare time she enjoys traveling and horse back riding. </p>
  <p><a href="mailto:amrita.ramakrishnan@yale.edu">amrita.ramakrishnan@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>
	
</div><!--end div person-->
</div><!--end div content-->


