<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/rutherford_bio.jpg" alt="Helena Rutherford, Ph.D." />
</div>

<div id="person_text">
  <h2>Helena Rutherford, Ph.D.</h2>
  <h3>Postdoctoral Fellow</h3>
  
  <p>Helena Rutherford was awarded her Psychology Ph.D. from Bangor University in 2008 under the supervision of Prof. Jane Raymond.  Her doctoral thesis was entitled ‘Visual Orienting to Emotion’ through which she explored interactions between visual attention and emotion.  Dr. Rutherford is currently a postdoctoral fellow under the mentorship of Prof. Linda Mayes and Dr. Eamon McCrory (UCL), and is an Academic Tutor for the M.Sc. Psychodynamic Developmental Neuroscience program.  Her research interests include emotion perception and regulation, reward mechanisms, and the importance of these constructs within the realm of visual cognition.  An important focus of her current program of research is to explore the neurobiology of parenting behavior, beginning with understanding how parents respond and regulate emotional experiences with their infants.</p>
  
  <p><a href="mailto:helena.rutherford@yale.edu">helena.rutherford@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>	
</div>

</div><!--end div person-->
</div><!--end div content-->