<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/rutherford_bio.jpg" alt="Helena Rutherford, Ph.D." />
</div>

<div id="person_text">
  <h2>Helena Rutherford, Ph.D.</h2>
  <h3>Postdoctoral Fellow</h3>
  
  <p>Helena Rutherford is a Postdoctoral Associate and Yale Course Tutor for the Psychodynamic Developmental Neuroscience Masters program. She received her Ph.D. in 2008 from the University of Wales, Bangor, where she studied interactions between visual attention and emotion. Dr. Rutherford uses electroencephalography to explore the neural correlates of parenting, identifying sensitivity to infant cues (visual and auditory) as well as more top-down regulation of response to infant cues by cognitive control. She is also interested in how addiction may impact these processes, as well as assessing the contribution of other individual difference measures to the neural correlates of parenting.
Dr. Rutherford’s additional research interests include emotion perception and regulation, as well as developmental changes that occur during adolescence in sensitivity to reward and stress.
</p>
  
  <p><a href="mailto:helena.rutherford@yale.edu">helena.rutherford@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>	
</div>

</div><!--end div person-->
</div><!--end div content-->