<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/shultz_bio.jpg" alt="Sarah Shultz" />
</div>

<div id="person_text">
  <h2>Sarah Shultz</h2>
  <h3>Ph.D. student</h3>
  
  <p>bio under construction.</p>
  
  <p><a href="mailto:sarah.shultz@yale.edu">sarah.shultz@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></p>	
</div>

</div><!--end div person-->
</div><!--end div content-->