<div id="content">
<div id="title"><h1>Acoustic Startle Studies</h1></div>

  
<div id="content_image">
  <ul>
	  <li><img src="images/macbook.jpg" alt="Portable dense array EEG system" /></li>
	</ul>
</div>

<div id = "content_text">

  <p>Considerable evidence has accumulated to suggest that startle, a reflex response to stimuli with abrupt onset, is a sensitive index of vulnerability to increased anxiety or states of arousal and that individual variation in the startle response under varying conditions provides a window on the development of centrally based mechanisms for arousal and state regulation.  The purpose of these studies is to explore the role of the emotion or anxiety (fear) potentiated startle response (measured using the eye blink reflex) in a variety of different clinical and normal populations to test the hypothesis that the degree of potentiation will depend upon the clinical disorder and its underlying pathophysiology.</p>
  <br />
  <div class="content_link"><a href="studies.html">BACK</a></div>
</div>
</div>