<div id="content">
<div id="title"><h1>Studies</h1></div>

<div id="content_image">
	  <ul>
	    <li><img src="images/jia_chris2.jpg" alt="Data Analysis at the DEL" /></li>
	  </ul>
</div>

<div id="content_text">
<div id="studies">  
	<ul>
	 <li><a href="ifu.html" class="navigation_black">Infant Follow-up Project</a></li>   
	 <li><a href="startle.html" class="navigation_black">Acoustic Startle Studies</a></li>
	 <li><a href="autism.html" class = "navigation_black">Autism Studies</a></li>
	 <li><a href="tourette.html" class="navigation_black">Tourette Syndrome Studies</a></li>
	 <li>Emotion Regulation</li>    
	 <li>Anxiety Studies</li>    
	 </ul>
	 <p>For more information please email Linda Mayes at <a href="mailto:linda.mayes@yale.edu">linda.mayes@yale.edu </a></p>
</div>
</div>
</div>

