  <td width="395" align="left" valign="top" class="style2">
  <img src="images/studies.jpg" alt="Studies at the Yale Developmental Electrophysiology Laboratory" name="studies" width="200" height="25" hspace="8" vspace="8" id="studies" />

 	<p class="p2"><a href="ifu.html" class="navigation3">Infant Follow-up Project</a></p>   
  <p class="p2">Emotion Regulation</p>    
  <p class="p2"><a href="startle.html" class="navigation3">Acoustic Startle Studies</a></p>
<p class="p2"><a href = "autism.html" class = "navigation3">Autism Studies</p>
	<p class="p2"><a href="tourette.html" class="navigation3">Tourette Syndrome Studies</a></p>
 	<p class="p3">More coming</p>
</td>
  <td width="320" align="center" valign="top" class="style2"><br /><p><img src="images/jia_chris2.jpg" alt="Data Analysis at the DEL" width="305" height="211"/></p></td>