<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/sukhodolsky_bio.jpg" alt="Denis Sukhodolsky, Ph.D." />
</div>

<div id="person_text">
  <h2>Denis G. Sukhodolsky, Ph.D.</h2>
  <h3>Faculty</h3>
  
  <p>Denis G. Sukhodolsky, Ph.D. is Associate Research Scientist at the Yale Child Study Center.  His research concerns efficacy and mechanisms of behavioral treatments for children with neuropsychiatric disorders, including Tourette syndrome, Autism and Disruptive Behavior Disorders.  Dr. Sukhodolsky received his Ph.D. in clinical psychology from Hofstra University in 1997, where he also stayed for three years to teach at the psychology department and to conduct research on anger and aggression.  In 2000, he arrived at Yale for a postdoctoral research fellowship in childhood neuropsychiatric disorders with Drs. Larry Scahill and James Leckman.  Subsequently, he joined the Yale Faculty in 2003 and continued working in a clinical trials research program directed by Dr. Scahill.  Dr. Sukhodolsky has recently received a KO1 career development award with a focus on electrophysiology.  As part of this award, he is currently conducting a study where EEG is collected before, during and after treatment in order to understand neurobiological mechanisms of behavior therapy for tic reduction in children with Tourette syndrome.  In addition to his research, Dr. Sukhodolsky is a licensed clinical psychologist and he works with children and their families at the Yale Tic Disorders Clinic. </p>
  
  <p><a href="mailto:denis.sukhodolsky@yale.edu">denis.sukhodolsky@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->