<div id="content">
<div id="title"><h1>Tasks</h1></div>

  <div id="tasks">
  <p>We have developed many experimental paradigms to study social 
    cognition and executive function.  Below some sample tasks are 
    listed. For more detailed information about these tasks or to discuss 
    using them for collaborative work, please email Linda Mayes 
    at <a href="mailto:linda.mayes@yale.edu">linda.mayes@yale.edu </a>.</p>
  
  <table id="table_tasks">
    <tr>
      <th>Task Name</th>
      <th>Task Description</th>
    </tr>

    <tr>
      <td>Balloon Reward</td>
      <td>In this task, the participant chooses one of four balloons. This task is used to study the neural bases of reward mechanism.</td>
    </tr>

    <tr>
      <td>Cartoon Faces</td>
      <td>This experiment presents upright and inverted veridical faces and computer-generated realistic cartoon faces in random sequence in a single block.  Attention is monitored with a target detection task.</td>
    </tr>

    <tr>
      <td>Emotion Regulation</td>
      <td>In this task participants view pictures and enhance or suppress their feelings, for the study of emotion regulation.</td>
    </tr>
    
    <tr>
      <td>Face Context</td>
      <td>This paradigm presents seven blocks of stimuli: degraded faces in isolation, degraded faces on top of a human torso, faces, faces on top of a human torso, scenery pictures,a torsos without faces, and degraded faces again.  Attention is monitored with a target detection task.</td>
    </tr>
    
    <tr>
      <td>Fixation manipulation</td>
      <td>This paradigm presents faces and houses while varying point of gaze through fixation crosshair placement at image center, at upper image, and at lower image, as well as free viewing with no fixation crosshair preceding images.  Attention is monitored with a target detection task that taps attention to both stimuli and the preceding crosshair.</td>
    </tr>

    <tr>
      <td>Go-No Go task</td>
      <td>In this experiment, automatic responses to stimuli need to be inhibited in certain situations, in order to study inhibitory control.</td>
    </tr>

    <tr>
      <td>Letter expertise</td>
      <td>This experiment presents letters of the Roman alphabet interspersed with pseudoletters (confabulated letters with similar visual properties) in random sequence in a single block.  Attention is monitored with a one-back task.</td>
    </tr>

    <tr>
      <td>Maze Task</td>
      <td>In this experiment you need to remember the right path and get through a maze, for study of memory and feedback.</td>
    </tr>

    <tr>
      <td>Neutral Face Perception</td>
      <td>This experimental paradigm presents a single block of faces, inverted faces, houses, and inverted houses in pseudorandom sequence.  Attention is monitored with a one-back task.</td>
    </tr>
    
    <tr>
      <td>Oddball</td>
      <td>In this experiment, the participant presses a button for "X" and does not press anything for "O". Oddball is designed to study the P300 EEG compoment.</td>
    </tr>
  
    <tr>
      <td>Stroop Task</td>
      <td>In this task, the participant tells the color of the text instead of what the text says. The task is used to study the executive functioning.</td>
    </tr>
    
  </table>
</div>
</div>