<td width="405" align="left" valign="top" class="style2">
<img src="images/tasks.jpg" alt="" name="DEL Tasks" width="200" height="29" id="DEL Tasks" hspace="8" vspace="8" />
<p class = "p5">We have developed many experimental
paradigms to study social cognition and executive function.  For more
detailed information about these tasks or to discuss using them for
collaborative work, Please email Linda Mayes at <a href="mailto:linda.mayes@yale.edu">linda.mayes@yale.edu </a></p>

<p class="p2">Oddball</p><p class = "p5">In this experiment, the participant presses a button for "X" and does not press anything for "O". Oddball is designed to study the P300 EEG compoment.</p>
<p class="p2">Neutral Face Perception</p><p class = "p5">This experimental paradigm presents a single block of faces, inverted faces, houses, and inverted houses in pseudorandom sequence.  Attention is monitored with a one-back task.  </p>
<p class="p2">Stroop Task</p><p class = "p5">The participant tells the color of the text in stead of what the text says. This study is to study the executive functioning.</p>
<p class="p2">Maze Task</p><p class = "p5">In this experiment you need to remember the right path and get through a maze, for study of memory and feedback.</p>
<p class="p2">Balloon Reward</p><p class = "p5">through choosing the lucky balloon to study the neural basics of reward mechanism.</p>
	<p class="p2">Go-nogo task</p><p class = "p5">In this experiment, automatic responses to stimuli need to be inhibited at certain situations, in order to study inhibitory control.</p>
</td>
<td width="405" align="left" valign="top" class="style2"><p><br /><br />
			
		<p class="p2">Emotion Regulation</p><p class = "p5">View pictures and enhance or suppress your feelings, for study of emotion regulation.</p><p class="p2">Letter expertise</p><p class = "p5">This experiment presents letters of the Roman alphabet interspersed with pseudoletters (confabulated letters with similar visual properties) in random sequence in a single block.  Attention is monitored with a one-back task.</p>
		<p class="p2">Face Context</p><p class = "p5">This paradigm presents seven blocks of stimuli: degraded faces in isolation, degraded faces on top of a human torso, faces, faces on top of a human torso, and torsos without faces.  Attention is monitored with a target detection task.</p>
		<p class="p2">Cartoon Faces</p><p class = "p5">This experiment presents upright and inverted veridical faces and computer-generated realistic cartoon faces in random sequence in a single block.  Attention is monitored with a target detection task.</p>
		<p class="p2">Fixation manipulation</p><p class = "p5">This paradigm presents faces and houses while varying point of gaze through fixation crosshair placement at image center, at upper image, and at lower image, as well as free viewing with no fixation crosshair preceding images.  Attention is monitored with a target detection task that taps attention to both stimuli and the preceding crosshair.</p>
			<br /><br />
</td>