<div id="content">
<div id="title"><h1>Tools</h1></div>

  <div id="tools">
  <p>Click the name to download. For comments, please email Dr. Michael Crowley 
    at <a href="mailto:michael.crowley@yale.edu">michael.crowley@yale.edu </a>.</p>
  
  <table id="table_tools">
    <tr>
      <th>Tool Name</th>
      <th>Tool Description</th>
    </tr>

    <tr>
      <td><a href="tools/EEG Net Template.pptx">EEG NET template</a></td>
      <td>A powerpoint file allowing you to represent the channel cluster(s) in analysis on a head map</td>
    </tr>
    
  </table>
</div>
</div>