<div id="content">  
<div id="title"><h1>Training &amp; Employment</h1></div>

<p>The Developmental Electrophysiology Lab offers many 
  training programs and employment opportunities for 
  students and professionals of various educational backgrounds.
    Please email <a href="mailto:linda.mayes@yale.edu">
      linda.mayes@yale.edu </a>for more information on 
      training and employment opportunities at the lab.</p>

<div id="intern_history">
<h2>Intern history</h2>
<table>
  <tr>
    <th>Summer Intern 2009</th>
    <th>Summer Intern 2010</th>
  </tr>
  <tr>
    <td><a href = "intern_2009.html">
    <img src="images/intern_2009.png" 
    alt = "Summer Intern 2009" /></a></td>
    <td><a href = "material/Sewanee_FALL10_Mayes.pdf">
    <img src="images/Sewanee_FALL10_Mayes_cover.jpg" 
    alt = "Summer Intern 2010" /></a></td>
  </tr>
</table>  
</div>
</div>