<div id="content">  
<div id="title"><h1>Training &amp; Employment</h1></div>

<h2>Postdoctoral Associate</h2>
<p>    We are seeking an enthusiastic, mature and responsible Postdoctoral Associate to join the DEL. Responsibilities will include day-to-day management of research projects and being involved in programming, data acquisition as well as data analysis.</p>

<p>Applicants must have a PhD in Psychology, Neuroscience, or a related discipline with prior EEG/ERP experience. Experience with fMRI would be advantageous although is not required. Expected start date would be late summer 2013. </p>
 
<p>Interested applicants should send their cover letter, CV, statement of research interests and two letters of recommendation to: <a href="mailto:linda.mayes@yale.edu">linda.mayes@yale.edu</a></p>

<h2>Postgraduate Research Associate</h2>
<p>We are seeking Postgraduate Research Associates to work in the Developmental Electrophysiology Lab at Yale Child Study Center. The purpose of these positions is to provide an opportunity to nurture the skills and experiences that will benefit the early stages of academic careers (in both psychology and medicine). Postgraduates in the DEL therefore have responsibilities in the implementation of research studies as well as being involved in data analysis and preparation of posters and manuscripts for publication.  Postgraduates have typically gone onto Masters programs, Clinical and Research PhD programs, and Medical School. </p>

<p>We are looking for highly enthusiastic and motivated applicants with an undergraduate degree in psychology or a related discipline, and a two-year commitment to the position is preferred. Applicants do not need prior experience with EEG/ERP as full training will be given, although more general research experience is desirable.  Appointments will begin in the summer of 2013.</p>

<p>Interested applicants should send their cover letter, CV, and contact details for two recommenders to: <a href="mailto:linda.mayes@yale.edu">linda.mayes@yale.edu</a></p>

<h2>Visiting Postgraduate Scholar</h2>
<p>We have two visiting postgraduate scholar positions available each year in the Developmental Electrophysiology Lab at Yale Child Study Center. Scholars are typically postgraduate students interested in developmental neuroscience and gaining research experience that will contribute to their academic work and training goals. Scholar positions run from August – December, and January through May. Applicants should be highly motivated and able to work independently as well as part of the DEL team. International applicants will need to evidence proof of funding and health care coverage for the duration of the visit. </p>

<p>Interested applicants should send their cover letter and personal statement, CV, and two recommendation letters to: <a href="mailto:linda.mayes@yale.edu">linda.mayes@yale.edu</a><p>

</div>