<td width="395" align="left" valign="top" class="style2">
<img src="images/training.jpg" alt="" name="training" width="250" height="29" id="training" hspace="8" vspace="8" />
<p>The Developmental Electrophysiology Lab offers many training programs and employment opportunities for students and professionals of various educational backgrounds.  Please email <a href="mailto:linda.mayes@yale.edu">Linda Mayes </a>for more information on training and employment opportunities at the lab.</p></td>

<td width="323" align="center" valign="top" class="style2"><br />
  <p><img src="images/jia_chris.jpg" alt="Data Analysis at the DEL" width="305" height="212" /></p></td>