<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/vanderwal_bio.jpg" alt="Tamara Vanderwal, Ph.D." width="205" height="270" />
</div>

<div id="person_text">
  <h2>Tamara Vanderwal, Ph.D.</h2>
  <h3>Clinical Fellow</h3>
  
  <p>Tammy is a child psychiatrist interested in understanding the developmental trajectories of how the brain organizes itself during rest.  She is developing a new approach to study these intrinsic connectivity networks in young children that will use both EEG and fMRI.  She works in close collaboration on this project with both the Mayes' lab, and Xavier Castellanos' group at NYU.  Other research interests include the development of mu suppression during infancy and self-related processing in autism spectrum disorders.</p>
  <p><a href="mailto:tamara.vanderwal@yale.edu">tamara.vanderwal@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->