<div id="content">
<div id="person">

<div id="person_image">
  <img src="" alt="Lars white" width="205" height="275" />
</div>

<div id="person_text">
  <h2>Lars White</h2>
  <h3>Master student</h3>
  
  <p>bio under construction.</p>
  
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->
