<td width="505" align="left" valign="top" class="style2">
<p class="h2">Jia Wu, Ph.D.</p>
<p class="h3">Post-Doc Fellow</p>
<p class="p5">Jia Wu graduated from the University of Louisville with a Ph.D in Experimental Psychology and joined the Lab in August, 2007. She is interested using electrophysiology (EEG) to study a large variety of topics including perception, cognition, human development and cultural differences. Her current focus is on studying the electrophysiological marker of emotion regulation in relation to food and eating behavior. Her other interests include experimental programming and advanced statistical analysis. She mainly programs in Matlab and E-Prime. She is also learning R as a potential replacement for SPSS. Her main hobbies are badminton, Chinese poker, board games and reading novels. 
</p>
<br />
<p class="p5"><a href="people.html">BACK</a>

</td>
<td width="209" align="center" valign="top" class="style2"><br /><img src="images/wu_bio.jpg" alt="Jia Wu, Ph.D." width="205" height="270" /></td>