<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/wu_bio.jpg" alt="Jia Wu, Ph.D." width="205" height="270" />
</div>

<div id="person_text">
  <h2>Jia Wu, Ph.D.</h2>
  <h3>Postdoctoral Associate</h3>
  
  <p>Jia Wu graduated from the University of Louisville with a Ph.D in Experimental Psychology and joined the Lab in August, 2007. She is interested using electrophysiology (EEG) to study a large variety of topics including perception, cognition, human development and cultural differences. Her current focus is on studying the electrophysiological marker of emotion regulation in relation to food and eating behavior. </p>
  <p>Her other interests include experimental programming and advanced statistical analysis. She mainly programs in Matlab and E-Prime. She is learning R as a potential replacement for SPSS. </p>
  <p>She is also learning web development from her programmer husband, and is the current DEL website maintainer.</p>
  <p><a href="mailto:jia.wu@yale.edu">jia.wu@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->