<div id="content">
<div id="person">

<div id="person_image">
  <img src="images/wu_bio.jpg" alt="Jia Wu, Ph.D." width="205" height="270" />
</div>

<div id="person_text">
  <h2>Jia Wu, Ph.D.</h2>
  <h3>Associate Research Scientist</h3>
  
  <p>Jia Wu graduated from the University of Louisville with a Ph.D in Experimental Psychology and joined the Lab in August, 2007. She is interested using electrophysiology (EEG) to study food related phenomena and eating behaviors. As of September 2012, she has collected some food related EEG and questionnaire data from >100 adolescents. And she will turn the data into publication hopefully soon.</p>
  <p>She is also intensively involved in multiple other projects in the lab, serving the role of paradigm programming, data analysis, and for other needs that require some programming skills.</p>
  <p>Last, she is learning web development from her programmer husband, and is the current DEL website maintainer.</p>
  <p><a href="mailto:jia.wu@yale.edu">jia.wu@yale.edu</a></p>
  <div id="person_back"><a href="people.html">BACK</a></div>
</div>

</div><!--end div person-->
</div><!--end div content-->