@charset "UTF-8";
/* CSS Document */
/*http://javascript-array.com/scripts/jquery_simple_drop_down_menu/*/

div#menubar {
  background-color: #256DA8;
}
div.clear{
  clear:both;
}
#dropdownmenu {
    margin: 0;
    padding: 0;

}
#dropdownmenu li {
    float: left;
    font: 0.8em Tahoma,Arial;
    list-style: none outside none;
}
#dropdownmenu li a {
    background: none repeat scroll 0 0 #256DA8;
    border-right: 1px solid white;
    color: #EAFFED;
    display: block;
    padding: 9px 13px;
    text-decoration: none;
    white-space: nowrap;
    width: 115px;
}
#dropdownmenu li a:hover {
    background: none repeat scroll 0 0 #1A4473;
}
#dropdownmenu li a.dropdown{
  background: url("/labs/del/images/down_arrow.png") no-repeat 93% 40% #256DA8;
}
#dropdownmenu li a.last {
  border-right: 0px;
}
#dropdownmenu li ul {
    border-top: 0.1em solid #427AB8;
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
}
#dropdownmenu li ul li {
    display: inline;
    float: none;
}
#dropdownmenu li ul li a {
    background: none repeat scroll 0 0 #256DA8;
    width: auto;
    font-size: 1.2em;
    border-bottom: 1px solid #427AB8;
    min-width: 115px;
}
#dropdownmenu li ul li a:hover {
    background: none repeat scroll 0 0 #1A4473;
}
