#dropdownmenu {
    margin: 0;
    padding: 0;
}
#dropdownmenu li {
    float: left;
    font: 0.8em Tahoma,Arial;
    list-style: none outside none;
}
#dropdownmenu li a {
    background: none repeat scroll 0 0 #256DA8;
    border-right: 1px solid white;
    color: #EAFFED;
    display: block;
    padding: 0.6em 0.937em;
    text-decoration: none;
    white-space: nowrap;
    width: 9.167em;
}
#dropdownmenu li a:hover {
    background: none repeat scroll 0 0 #1A4473;
}
#dropdownmenu li ul {
    border-top: 0.1em solid #427AB8;
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
}
#dropdownmenu li ul li {
    display: inline;
    float: none;
}
#dropdownmenu li ul li a {
    background: none repeat scroll 0 0 #256DA8;
    width: auto;
    font-size: 1.2em;
    border-bottom: 1px solid #427AB8;
}
#dropdownmenu li ul li a:hover {
    background: none repeat scroll 0 0 #1A4473;
}
